<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><b>/users</b> - Show all users</p>
    <p><b>/user/&lt;id&gt;</b> - Show user with the specific id</p>
    <p><b>/locationblogs</b> - Show all locationblogs</p>
    <p><b>/locationblog/&lt;id&gt;</b> - Show locationblog with the specific id</p>
  </body>
</html>
